{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/bs.css' %}">
</head>
<body>
{% include '../navbar.html' %}
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-soft-primary">
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary" style="text-align: center">Сбросить пароль</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="p-2">
                                <form class="form-horizontal" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="userpassword">Укажите ваш e-mail</label>
                                        <input type="email" name="email" class="form-control" id="password" placeholder="Введите email">
                                    </div>

                                    <div class="mt-4">
                                        <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Сбросить пароль</button>
                                    </div>
                                    {% if message == 'Пароли не совпадают'%}
                                        <div>
                                            <p style="color: red; text-align: center; margin-top: 10px;"> {{ message }} </p>
                                        </div>
                                    {% else %}
                                        <div>
                                            <p style="color: green; text-align: center; margin-top: 10px;"> {{ message }} </p>
                                        </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <div>
                            <p>Нет аккаунта? <a href="{% url 'registration' %}" class="font-weight-medium text-primary"> Зарегистрироваться</a> </p>
                            <p>Вспомнили пароль? <a href="{% url 'authorization' %}" class="font-weight-medium text-primary"> Войти</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>