{% load static %}
<div class="container">
    <div class="row" style="background-color: #eff2f7!important; margin-bottom: 15px; margin-top: 10px;">
            <div class="col-sm-10">
                <a class="navbar-brand" href="#">SEOnior.ru - Эффективная оценка конкуренции</a>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-primary" href="#">Поддержка</a>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-primary" href="#">Авторизация</a>
            </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h4>Всего заказов:</h4>
                            <h4>{{ orders }}</h4>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'get_orders_page' %}"><img src="{% static 'main/img/cart.png' %}" style="width: 85%"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h4>Всего запросов:</h4>
                            <h4>{{ keywords_ordered }}</h4>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'results' %}"><img src="{% static 'main/img/list.png' %}" style="width: 85%"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h4>Баланс:</h4>
                            <h4>{{ balance }} рублей</h4>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'balance' %}"><img src="{% static 'main/img/balance.png' %}" style="width: 85%"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>