<div class="container">
    <div class="row" style="background-color: #eff2f7!important; margin-bottom: 15px;">

            {% if user.is_authenticated %}
            <div class="col-lg-8 col-xs-8">
                <a class="navbar-brand" href="{% url 'index' %}" style="color: black">SEOnior.ru - Эффективная оценка конкуренции</a>
            </div>
                <div class="col-lg-4 col-xs-4">
                    <a class="btn btn-primary" href="{% url 'change_password' %}">Сменить пароль</a>
                    <a class="btn btn-primary" href="{% url 'tickets_page' %}">Поддержка</a>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Выйти</a>
                </div>

            {% else %}
            <div class="col-lg-9 col-xs-9">
                <a class="navbar-brand" href="{% url 'index' %}" style="color: black">SEOnior.ru - Эффективная оценка конкуренции</a>
            </div>
                <div class="col-lg-3 col-xs-3">
                    <a class="btn btn-primary" href="{% url 'registration' %}">Регистрация</a>
                    <a class="btn btn-primary" href="{% url 'authorization' %}">Авторизация</a>
                </div>
            {% endif %}

    </div>
</div>