<div class="container">
    <div class="row" style="background-color: #eff2f7!important; margin-bottom: 15px;">
            <div class="col-sm-9">
                <a class="navbar-brand" href="#" style="color: black">SEOnior.ru - Эффективная оценка конкуренции</a>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-primary" href="{% url 'posts_from_latest_ticket' %}">Поддержка</a>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-primary" href="{% url 'logout' %}">Выйти</a>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-primary" href="{% url 'authorization' %}">Авторизация</a>
            </div>
    </div>
</div>