{% extends './account_page_body.html' %}
{% load mathfilters %}
{% block content %}
{% include './add_to_queue.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Расширенная информация о запросах</h4>
                    <div class="table-responsive">
                        <table class="table table-centered mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>{% if sort_type == 'request' %} <a href="?sort=-request"> {% else %} <a href="?sort=request">{% endif %}Запрос</a></th>
                                    <th>{% if sort_type == '-seo' %} <a href="?sort=seo"> {% else %} <a href="?sort=-seo">{% endif %}Конкуренция SEO</a></th>
                                    <th>{% if sort_type == '-direct' %} <a href="?sort=direct"> {% else %} <a href="?sort=-direct">{% endif %}Эффект директа</a></th>
                                    <th>{% if sort_type == '-total' %} <a href="?sort=total"> {% else %} <a href="?sort=-total">{% endif %}Итоговая сложность</a></th>
                                    <th>{% if sort_type == 'region' %} <a href="?sort=-region"> {% else %} <a href="?sort=region">{% endif %}Гео</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if all_requests %}
                                    {% for request in all_requests %}
                                        {% if request.status == 'progress'  %}
                                            <tr>
                                                <td>{{ request.request_text }}</td>
                                                <td colspan="3" style="text-align: center">Запрос в очереди.</td>
                                                <td> {{ request.region.name }}</td>
                                            </tr>
                                        {% elif request.status == 'backlinks' %}
                                            <tr>
                                                <td>{{ request.request_text }}</td>
                                                <td colspan="3" style="text-align: center">Запрос обрабатывается.</td>
                                                <td> {{ request.region.name }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td> {{ request.request_text }} </td>
                                                <td> {{ request.site_seo_concurency }}% </td>
                                                <td> {{ request.site_direct_concurency }}%</td>
                                                <td>{{ request.site_total_concurency|div:135|mul:100|floatformat:"0" }}</td>
                                                <td> {{ request.region.name }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}