{% extends './account_page_body' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Расширенная информация о запросах</h4>
                    <div class="table-responsive">
                        <table class="table table-centered mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>Запрос</th>
                                    <th>Конкуренция SEO</th>
                                    <th>Конкуренция Direct</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if all_requests_list %}
                                    {% for request in all_requests_list %}
                                        {% if request.status == 'progress'  %}
                                            <tr>
                                                <td>{{ request.request }}</td>
                                                <td colspan="6" style="text-align: center">Запрос в обработке. Это может занять около минуты.</td>
                                            </tr>
                                        {% elif request.status == 'backlinks' %}
                                            <tr>
                                                <td>{{ request.request }}</td>
                                                <td colspan="6" style="text-align: center">Запрос в обработке. Недостаточно выборки ссылок.</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td> {{ request.request }} </td>
                                                <td> {{ request.site_seo_concurency }}% </td>
                                                <td> {{ request.site_direct_concurency }}%</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}