{% extends "./account_page_body.html" %}

{% block content %}
{% include './add_to_queue.html' %}
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Расширенная информация о запросах</h4>
                    <div class="table-responsive">
                        <table class="table table-centered mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>Номер заказа</th>
                                    <th>Количество запросов</th>
                                    <th>Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if all_orders_list %}
                                    {% for order in all_orders_list %}
                                            <tr>
                                                <td> #{{ order.order_id }} </td>
                                                <td> NIY </td>
                                                <td> NIY </td>
                                            </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}