{% extends "./account_page_body.html" %}
{% load mathfilters %}
{% block content %}
{% include './add_to_queue.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Расширенная информация о запросах</h4>
                    <div class="table-responsive">
                        <table class="table table-centered mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>{% if sort_type == 'request' %} <a href="?sort=-request"> {% else %} <a href="?sort=request">{% endif %}Запрос</a></th>
                                    <th>{% if sort_type == '-age' %} <a href="?sort=age"> {% else %} <a href="?sort=-age">{% endif %}Сложность от возраста</a></th>
                                    <th>{% if sort_type == '-stem' %} <a href="?sort=stem"> {% else %} <a href="?sort=-stem">{% endif %}Сложность от стема</a></th>
                                    <th>{% if sort_type == '-volume' %} <a href="?sort=volume"> {% else %} <a href="?sort=-volume">{% endif %}Сложность от объема</a></th>
                                    <th>{% if sort_type == '-backlinks' %} <a href="?sort=backlinks"> {% else %} <a href="?sort=-backlinks">{% endif %}Сложность от ссылочного</a></th>
                                    <th>{% if sort_type == '-seo' %} <a href="?sort=seo"> {% else %} <a href="?sort=-seo">{% endif %}Конкуренция SEO</a></th>
                                    <th>{% if sort_type == '-direct' %} <a href="?sort=direct"> {% else %} <a href="?sort=-direct">{% endif %}Эффект директа</a></th>
                                    <th>{% if sort_type == '-total' %} <a href="?sort=total"> {% else %} <a href="?sort=-total">{% endif %}Итоговая сложность</a></th>
                                    <th>{% if sort_type == 'region' %} <a href="?sort=-region"> {% else %} <a href="?sort=region">{% endif %}Гео</a></th>
                                    <th>{% if sort_type == '-amount' %} <a href="?sort=amount"> {% else %} <a href="?sort=-amount">{% endif %}Количество запросов в месяц</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if all_requests %}
                                    {% for request in all_requests %}
                                        {% if request.status == 'progress'  %}
                                            <tr>
                                                <td>{{ request.request_text }}</td>
                                                <td colspan="7" style="text-align: center">Запрос в обработке. Это может занять около минуты.</td>
                                                <td> {{ request.region.name }}</td>
                                            </tr>
                                        {% elif request.status == 'backlinks' %}
                                            <tr>
                                                <td>{{ request.request_text }}</td>
                                                <td colspan="7" style="text-align: center">Запрос в обработке. Недостаточно выборки ссылок.</td>
                                                <td> {{ request.region.name }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td> {{ request.request_text }} </td>
                                                <td> {{ request.site_age_concurency }} </td>
                                                <td> {{ request.site_stem_concurency }} </td>
                                                <td>{{ request.site_volume_concurency }}</td>
                                                <td>{{ request.site_backlinks_concurency }}</td>
                                                <td>{{ request.site_seo_concurency }}</td>
                                                <td>{{ request.direct_upscale }}</td>
                                                <td>{{ request.site_total_concurency }}</td>
                                                <td>{{ request.region.name }}</td>
                                                 <td>{% if request.request_views >= 1000000 %}
                                                    Более {{ request.request_views|div:1000000 }} млн
                                                {% elif request.request_views >= 10000 %}
                                                    ~{{ request.request_views }}
                                                {% else %}
                                                    {{ request.request_views }}
                                                 {% endif %}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}