{% extends './ticket_page_body.html' %}

{% block content %}
    {% if latest_ticket %}
        {% for ticket_post in latest_ticket_posts %}
            <div class="container chat-window">
            {% if ticket_post.ticket_post_author != 'airlove' %}
                <div class="row chat-container">
                    <div class="col-sm-8 chat-message client-chat-message">
                        <p class="chat-nickname client-chat-nickname">{{ ticket_post.ticket_post_author }}</p>
                        <p>{{ ticket_post.ticket_post_text }}</p>
                    </div>
                 </div>
            {% else %}
                <div class="row chat-container">
                    <div class="col-sm-8 offset-sm-4 chat-message admin-chat-message">
                        <p class="chat-nickname admin-chat-nickname">Админ</p>
                        <p>{{ ticket_post.ticket_post_text }}</p>
                    </div>
                </div>
    {% endif %}
    {% endfor %}
    {% else %}
        <div class="container chat-window">
            <div class="row chat-container">
                <div class="col-sm-8 chat-message client-chat-message">
                    <p class="chat-nickname client-chat-nickname">Пользователь</p>
                    <p>Permissions can be set not only per type of object, but also per specific object instance. By using the has_view_permission(), has_add_permission(), has_change_permission() and has_delete_permission() methods provided by the ModelAdmin class, it is possible to customize permissions for different object instances of the same type. Permissions can be set not only per type of object, but also per specific object instance. By using the has_view_permission(), has_add_permission(), has_change_permission() and has_delete_permission() methods provided by the ModelAdmin class, it is possible to customize permissions for different object instances of the same type.</p>
                </div>
            </div>

            <div class="row chat-container">
                <div class="col-sm-8 offset-sm-4 chat-message admin-chat-message">
                    <p class="chat-nickname admin-chat-nickname">Админ</p>
                    <p>Permissions can be set not only per type of object, but also per specific object instance. By using the has_view_permission(), has_add_permission(), has_change_permission() and has_delete_permission() methods provided by the ModelAdmin class, it is possible to customize permissions for different object instances of the same type. Permissions can be set not only per type of object, but also per specific object instance. By using the has_view_permission(), has_add_permission(), has_change_permission() and has_delete_permission() methods provided by the ModelAdmin class, it is possible to customize permissions for different object instances of the same type.</p>
                </div>
            </div>
        </div>
    {% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-1">
            <form action="" method="post">
                {% csrf_token %}
                <textarea rows="2" name="ticket_post" style="width: 100%"></textarea>
            </form>
        </div>
        <div class="col-sm-2">
            <input type="submit" value="Отправить" class="btn btn-primary btn-rounded" style="width: 100%">
        </div>
    </div>
</div>
{% endblock %}