{% extends './ticket_page_body.html' %}

{% block content %}
    {% if latest_ticket %}
        <div class="container chat-window">
        {% for ticket_post in latest_ticket_posts %}

            {% if ticket_post.ticket_post_author != 'airlove' %}
                <div class="row chat-container">
                    <div class="col-sm-8 chat-message client-chat-message">
                        <p class="chat-nickname client-chat-nickname">{{ ticket_post.ticket_post_author }}</p>
                        <p>{{ ticket_post.ticket_post_text }}</p>
                    </div>
                 </div>
            {% else %}
                <div class="row chat-container">
                    <div class="col-sm-8 offset-sm-4 chat-message admin-chat-message">
                        <p class="chat-nickname admin-chat-nickname">Админ</p>
                        <p>{{ ticket_post.ticket_post_text }}</p>
                    </div>
                </div>

    {% endif %}
    {% endfor %}
        </div>
    {% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <form action="" method="post">
                {% csrf_token %}
                <textarea rows="2" name="ticket_post_text" style="width: 100%"></textarea>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Отправить" class="btn btn-primary" style="width: 100%">
            </form>
        </div>
    </div>
        {% if user_role == 'admin' %}
            <div class="row">
                <div class="col-md-12">
                    <a href="/main/close_ticket/{{ latest_ticket.id }}" class="btn btn-primary" style="width: 100%;">Закрыть тикет</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}