.chat-window {
    max-height: 450px;
    overflow: auto;
    margin-bottom: 15px;
}

.chat-container {
    margin-bottom: 24px;
}

.chat-message {
    padding: 12px 24px;
}

.admin-chat-message {
    background-color: rgba(123,18,66,.1);
}

.client-chat-message {
    background-color: rgba(85,110,230,.1);
}

.chat-nickname {
    font-weight: 600;
}

.admin-chat-nickname {
    color: #ec2392;
}

.client-chat-nickname {
    color: #556ee6;
}

.ticket-in-list {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vital_sites {
    display: inline-block; /* Строчно-блочный элемент */
    text-decoration: underline;
    text-align: center;

}
.vital_sites:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 10px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
       width: 300px;
}